.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/df-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 756px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 70px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 428px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 120px 30px 30px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 300;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  font-family: "Bai Jamjuree";
  margin: 19px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 198px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 163px;
  min-width: 121px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 556px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  line-height: 1.7;
  font-weight: 300;
  margin: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 38px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 353px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 40px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 163px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 458px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 248px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 129px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 348px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 166px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 105px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 830px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 40px auto 40px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 794px;
}

.u-section-2 .u-shape-1 {
  width: 531px;
  height: 384px;
  background-image: none;
  margin: 259px auto 0 0;
}

.u-section-2 .u-shape-2 {
  width: 447px;
  height: 382px;
  background-image: none;
  box-shadow: 2px 2px 35px 0 rgba(0,0,0,0.5);
  margin: -571px 0 0 auto;
}

.u-section-2 .u-image-1 {
  width: 285px;
  min-height: 334px;
  background-image: url("images/d.png");
  background-position: 50% 50%;
  margin: -108px 0 0 auto;
}

.u-section-2 .u-container-layout-2 {
  margin-bottom: 0;
}

.u-section-2 .u-image-2 {
  width: 530px;
  height: 461px;
  box-shadow: 0 0 35px 0 rgba(0,0,0,0.5);
  object-position: 28.7% 100%;
  background-position: 28.7% 100%;
  margin: -556px auto 0 54px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 794px;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 0;
}

.u-section-2 .u-text-1 {
  font-size: 3.4375rem;
  font-weight: 700;
  font-family: Oswald, sans-serif;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 40px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  background-image: none;
  margin: 40px auto 0 0;
  padding: 11px 43px 12px 42px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 616px;
  }

  .u-section-2 .u-shape-1 {
    width: 370px;
    height: 304px;
    margin-top: 213px;
  }

  .u-section-2 .u-shape-2 {
    width: 415px;
    height: 388px;
    margin-top: -498px;
  }

  .u-section-2 .u-image-1 {
    min-height: 290px;
  }

  .u-section-2 .u-image-2 {
    width: 385px;
    height: 403px;
    margin-top: -519px;
    margin-left: 40px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 705px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 119px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 136px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 612px;
  }

  .u-section-2 .u-shape-1 {
    height: 172px;
    width: 293px;
    margin-top: 0;
  }

  .u-section-2 .u-shape-2 {
    width: 278px;
    height: 296px;
    margin-top: -371px;
  }

  .u-section-2 .u-image-1 {
    width: 218px;
    min-height: 201px;
    margin-top: -73px;
  }

  .u-section-2 .u-image-2 {
    width: 284px;
    height: 278px;
    margin-top: -374px;
    margin-left: auto;
    margin-bottom: -103px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 612px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 969px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 684px;
  }

  .u-section-2 .u-shape-1 {
    height: 218px;
  }

  .u-section-2 .u-shape-2 {
    width: 446px;
    height: 446px;
    margin-top: -567px;
  }

  .u-section-2 .u-image-1 {
    width: 255px;
    min-height: 238px;
    margin-top: -79px;
  }

  .u-section-2 .u-image-2 {
    width: 442px;
    height: 462px;
    margin-top: -545px;
    margin-bottom: -266px;
    margin-left: 40px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 964px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 417px;
  }

  .u-section-2 .u-shape-1 {
    width: 252px;
    height: 188px;
  }

  .u-section-2 .u-shape-2 {
    width: 274px;
    height: 229px;
    margin-top: -302px;
  }

  .u-section-2 .u-image-1 {
    width: 188px;
    min-height: 169px;
    margin-top: -60px;
  }

  .u-section-2 .u-image-2 {
    width: 270px;
    height: 230px;
    margin-top: -300px;
    margin-bottom: -44px;
    margin-left: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 509px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 674px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4.5rem;
  line-height: 0.8;
}

.u-section-3 .u-text-2 {
  font-weight: 900;
  font-size: 3.75rem;
  line-height: 0.6;
  margin: 38px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-4 {
  margin-left: 0;
  margin-right: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 200px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  margin-top: 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 200px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-6 {
  margin-top: 0;
  font-size: 3.75rem;
  font-weight: 900;
  line-height: 0.6;
  margin-bottom: 0;
}

.u-section-3 .u-text-7 {
  margin-left: 0;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.u-section-3 .u-text-8 {
  margin-left: 0;
}

.u-section-3 .u-btn-1 {
  background-image: linear-gradient(to right, #f1c50e, #478ac9);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 42px;
  padding: 23px 54px 23px 53px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 165px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 165px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-4 {
  background-image: none;
  min-height: 1074px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: normal;
  margin: 88px 200px 0;
}

.u-section-4 .u-shape-1 {
  height: 200px;
  margin-top: 168px;
  margin-bottom: 0;
  background-image: linear-gradient(to right, #478ac9, #f1c50e);
}

.u-section-4 .u-list-1 {
  min-height: 661px;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  width: 1140px;
  grid-gap: 0px 0px;
  margin: -324px auto 0;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-4 .u-image-1 {
  width: 229px;
  height: 229px;
  background-image: url("images/profile_cropped.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-4 .u-group-1 {
  width: 257px;
  min-height: 246px;
  margin: -229px 0 0 auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 0 20px 25px;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-4 .u-text-3 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-4 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 13px auto 0 2px;
}

.u-section-4 .u-icon-1 {
  height: 100%;
}

.u-section-4 .u-icon-2 {
  height: 100%;
}

.u-section-4 .u-icon-3 {
  height: 100%;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 40px;
}

.u-section-4 .u-image-2 {
  width: 229px;
  height: 229px;
  background-image: url("images/06ba57d095bd46a4fa6ed484809899f1c404d7058116754b82597846f12edb985442cf5b5d5147d5d7c17271ea928ab13cbd4e62f272302a8acfb8_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-4 .u-group-2 {
  width: 257px;
  min-height: 246px;
  margin: -229px 0 0 auto;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 0 20px 25px;
}

.u-section-4 .u-text-4 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-4 .u-text-5 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-4 .u-social-icons-2 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 13px auto 0 2px;
}

.u-section-4 .u-icon-4 {
  height: 100%;
}

.u-section-4 .u-icon-5 {
  height: 100%;
}

.u-section-4 .u-icon-6 {
  height: 100%;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 40px;
}

.u-section-4 .u-image-3 {
  width: 229px;
  height: 229px;
  background-image: url("images/068803ec886cf74f6323f69bb5c39f886342f85389ea27517ea780c09425b18bf6f7df260b464c822641470d2e42601f93f9c8706d37ff7fe7d69c_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-4 .u-group-3 {
  width: 257px;
  min-height: 246px;
  margin: -229px 0 0 auto;
}

.u-section-4 .u-container-layout-6 {
  padding: 0 0 20px 25px;
}

.u-section-4 .u-text-6 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-4 .u-text-7 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-4 .u-social-icons-3 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 13px auto 0 2px;
}

.u-section-4 .u-icon-7 {
  height: 100%;
}

.u-section-4 .u-icon-8 {
  height: 100%;
}

.u-section-4 .u-icon-9 {
  height: 100%;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px 40px;
}

.u-section-4 .u-image-4 {
  width: 229px;
  height: 229px;
  background-image: url("images/5d99a3540fac6caeae42357cc0af810ea0d33f0cbe9cbb73f006fc38c1b1e26170e9ad8c21c91df00e84dfc881c2dc33f351350d66dc73319836c8_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-4 .u-group-4 {
  width: 257px;
  min-height: 246px;
  margin: -229px 0 0 auto;
}

.u-section-4 .u-container-layout-8 {
  padding: 0 0 20px 25px;
}

.u-section-4 .u-text-8 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-4 .u-text-9 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-4 .u-social-icons-4 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 13px auto 0 2px;
}

.u-section-4 .u-icon-10 {
  height: 100%;
}

.u-section-4 .u-icon-11 {
  height: 100%;
}

.u-section-4 .u-icon-12 {
  height: 100%;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: linear-gradient(45deg, #f1c50e, #478ac9);
  margin: 96px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 985px;
  }

  .u-section-4 .u-list-1 {
    min-height: 545px;
    grid-template-columns: repeat(2, 50%);
    height: auto;
    width: 940px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-4 .u-image-1 {
    width: 183px;
    height: 183px;
  }

  .u-section-4 .u-group-1 {
    width: 200px;
    min-height: 248px;
    margin-top: -183px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-4 .u-image-2 {
    width: 183px;
    height: 183px;
  }

  .u-section-4 .u-group-2 {
    width: 200px;
    min-height: 248px;
    margin-top: -183px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-4 .u-image-3 {
    width: 183px;
    height: 183px;
  }

  .u-section-4 .u-group-3 {
    width: 200px;
    min-height: 248px;
    margin-top: -183px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-4 .u-image-4 {
    width: 183px;
    height: 183px;
  }

  .u-section-4 .u-group-4 {
    width: 200px;
    min-height: 248px;
    margin-top: -183px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 79px;
    margin-right: 79px;
  }

  .u-section-4 .u-shape-1 {
    height: 800px;
  }

  .u-section-4 .u-list-1 {
    grid-template-columns: 100%;
    width: 720px;
    margin-top: -924px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-1 {
    width: 243px;
    height: 243px;
  }

  .u-section-4 .u-group-1 {
    width: 397px;
    margin-top: -243px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-2 {
    width: 243px;
    height: 243px;
  }

  .u-section-4 .u-group-2 {
    width: 397px;
    margin-top: -243px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-3 {
    width: 243px;
    height: 243px;
  }

  .u-section-4 .u-group-3 {
    width: 397px;
    margin-top: -243px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-4 {
    width: 243px;
    height: 243px;
  }

  .u-section-4 .u-group-4 {
    width: 397px;
    margin-top: -243px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-image-1 {
    width: 214px;
    height: 214px;
  }

  .u-section-4 .u-group-1 {
    width: 257px;
    margin-top: -214px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-image-2 {
    width: 214px;
    height: 214px;
  }

  .u-section-4 .u-group-2 {
    width: 257px;
    margin-top: -214px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-4 .u-text-4 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-image-3 {
    width: 214px;
    height: 214px;
  }

  .u-section-4 .u-group-3 {
    width: 257px;
    margin-top: -214px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
  }

  .u-section-4 .u-text-6 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-image-4 {
    width: 214px;
    height: 214px;
  }

  .u-section-4 .u-group-4 {
    width: 257px;
    margin-top: -214px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
  }

  .u-section-4 .u-text-8 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    width: 255px;
    height: 255px;
  }

  .u-section-4 .u-group-1 {
    min-height: 230px;
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-social-icons-1 {
    margin-left: auto;
  }

  .u-section-4 .u-image-2 {
    width: 255px;
    height: 255px;
  }

  .u-section-4 .u-group-2 {
    min-height: 230px;
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-social-icons-2 {
    margin-left: auto;
  }

  .u-section-4 .u-image-3 {
    width: 255px;
    height: 255px;
  }

  .u-section-4 .u-group-3 {
    min-height: 230px;
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-6 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-social-icons-3 {
    margin-left: auto;
  }

  .u-section-4 .u-image-4 {
    width: 255px;
    height: 255px;
  }

  .u-section-4 .u-group-4 {
    min-height: 230px;
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-8 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-social-icons-4 {
    margin-left: auto;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 771px;
}

.u-section-5 .u-shape-1 {
  width: 927px;
  height: 548px;
  margin: 67px auto 0 0;
}

.u-section-5 .u-shape-2 {
  width: 861px;
  height: 511px;
  margin: -420px 20px 0 auto;
}

.u-section-5 .u-layout-wrap-1 {
  width: 945px;
  margin: -537px 69px 140px auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 457px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  text-transform: none;
  font-size: 2.25rem;
  margin: 55px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 24px 0 0;
}

.u-section-5 .u-btn-1 {
  font-weight: 700;
  padding: 0;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 26px;
  min-height: 16px;
  width: 162px;
  min-width: 124px;
  margin: 24px auto 0 0;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

.u-section-5 .u-icon-3 {
  height: 100%;
}

.u-section-5 .u-icon-4 {
  height: 100%;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 457px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 15px 20px;
}

.u-section-5 .u-form-1 {
  height: 347px;
  margin: 1px auto 0 0;
}

.u-section-5 .u-form-group-1 {
  width: 100%;
}

.u-section-5 .u-input-1 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-5 .u-form-group-2 {
  width: 100%;
}

.u-section-5 .u-input-2 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-5 .u-form-group-3 {
  width: 100%;
}

.u-section-5 .u-input-3 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-5 .u-form-group-4 {
  width: 100%;
}

.u-section-5 .u-btn-2 {
  border-style: none;
  letter-spacing: 1px;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 768px;
  }

  .u-section-5 .u-shape-1 {
    width: 946px;
    height: 519px;
    margin-left: -26px;
  }

  .u-section-5 .u-shape-2 {
    width: 894px;
    margin-right: -13px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 862px;
    margin-right: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 454px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 454px;
  }

  .u-section-5 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 708px;
  }

  .u-section-5 .u-shape-1 {
    width: 760px;
    height: 525px;
    margin-right: -40px;
    margin-left: auto;
  }

  .u-section-5 .u-shape-2 {
    width: 757px;
    height: 490px;
    margin-right: auto;
    margin-left: -37px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
    margin-bottom: 60px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1160px;
  }

  .u-section-5 .u-shape-1 {
    height: 553px;
    width: 469px;
    margin-top: 50px;
    margin-right: 0;
  }

  .u-section-5 .u-shape-2 {
    height: 572px;
    width: 511px;
    margin-top: -64px;
    margin-left: -26px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 459px;
    margin-top: -891px;
    margin-bottom: 104px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 388px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 435px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1124px;
  }

  .u-section-5 .u-shape-1 {
    width: 369px;
    margin-right: -29px;
  }

  .u-section-5 .u-shape-2 {
    height: 513px;
    width: 348px;
    margin-left: -38px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}