.u-section-1 .u-sheet-1 {
  min-height: 730px;
}

.u-section-1 .u-shape-1 {
  width: 250px;
  height: 250px;
  margin: 274px -57px 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  margin: -367px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 484px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-shape-2 {
  width: 275px;
  height: 275px;
  background-image: none;
  margin: -173px auto 0 40px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  line-height: 1.2;
  background-image: none;
  font-family: Merriweather, serif;
  font-weight: normal;
  margin: 78px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 30px 4px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 484px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 414px;
  height: 414px;
  background-image: url("images/meetings-practice.jpg");
  background-position: 50% 50%;
  margin: -7px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-top: 253px;
    margin-right: -36px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -371px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 399px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -148px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 53px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 399px;
  }

  .u-section-1 .u-image-1 {
    width: 410px;
    height: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 215px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -298px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 513px;
  }

  .u-section-1 .u-shape-2 {
    width: 146px;
    height: 143px;
    margin-top: -7px;
    margin-left: -12px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 44px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 325px;
    height: 325px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1054px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 678px;
    margin-right: -24px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -774px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 427px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-shape-2 {
    width: 122px;
    height: 122px;
    margin-top: 28px;
    margin-left: 8px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin: -2px 83px -5px auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1097px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 737px;
    margin-right: -50px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -861px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 502px;
  }

  .u-section-1 .u-shape-2 {
    width: 107px;
    height: 107px;
    margin-top: 34px;
    margin-left: 15px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 39px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 320px;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 830px;
}

.u-section-2 .u-text-1 {
  margin: 50px 487px 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  margin: 20px 306px 0;
}

.u-section-2 .u-list-1 {
  min-height: 1679px;
  grid-template-columns: calc(33.3333% - 7px) calc(33.3333% - 7px) calc(33.3333% - 7px);
  margin-top: 37px;
  margin-bottom: 60px;
  height: auto;
  grid-gap: 10px 10px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 240px;
  height: 240px;
  background-image: url("images/2.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-2 .u-text-5 {
  font-style: italic;
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

.u-section-2 .u-icon-3 {
  height: 100%;
}

.u-section-2 .u-icon-4 {
  height: 100%;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 240px;
  height: 240px;
  background-image: url("images/0b32e1fa-df03-3333-0282-3c4069b3e47d.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-2 .u-text-8 {
  font-style: italic;
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-2 .u-social-icons-2 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-2 .u-icon-5 {
  height: 100%;
}

.u-section-2 .u-icon-6 {
  height: 100%;
}

.u-section-2 .u-icon-7 {
  height: 100%;
}

.u-section-2 .u-icon-8 {
  height: 100%;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  width: 240px;
  height: 240px;
  background-image: url("images/3.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-9 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-2 .u-text-11 {
  font-style: italic;
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-2 .u-social-icons-3 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-2 .u-icon-9 {
  height: 100%;
}

.u-section-2 .u-icon-10 {
  height: 100%;
}

.u-section-2 .u-icon-11 {
  height: 100%;
}

.u-section-2 .u-icon-12 {
  height: 100%;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  width: 240px;
  height: 240px;
  background-image: url("images/3.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-12 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-text-13 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-2 .u-text-14 {
  font-style: italic;
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-2 .u-social-icons-4 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-2 .u-icon-13 {
  height: 100%;
}

.u-section-2 .u-icon-14 {
  height: 100%;
}

.u-section-2 .u-icon-15 {
  height: 100%;
}

.u-section-2 .u-icon-16 {
  height: 100%;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-image-5 {
  width: 240px;
  height: 240px;
  background-image: url("images/3.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-15 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-text-16 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-2 .u-text-17 {
  font-style: italic;
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-2 .u-social-icons-5 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-2 .u-icon-17 {
  height: 100%;
}

.u-section-2 .u-icon-18 {
  height: 100%;
}

.u-section-2 .u-icon-19 {
  height: 100%;
}

.u-section-2 .u-icon-20 {
  height: 100%;
}

.u-section-2 .u-list-item-6 {
  background-image: none;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-image-6 {
  width: 240px;
  height: 240px;
  background-image: url("images/3.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-18 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-text-19 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-2 .u-text-20 {
  font-style: italic;
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-2 .u-social-icons-6 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-2 .u-icon-21 {
  height: 100%;
}

.u-section-2 .u-icon-22 {
  height: 100%;
}

.u-section-2 .u-icon-23 {
  height: 100%;
}

.u-section-2 .u-icon-24 {
  height: 100%;
}

.u-section-2 .u-list-item-7 {
  background-image: none;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-image-7 {
  width: 240px;
  height: 240px;
  background-image: url("images/3.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-21 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-text-22 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-2 .u-text-23 {
  font-style: italic;
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-2 .u-social-icons-7 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-2 .u-icon-25 {
  height: 100%;
}

.u-section-2 .u-icon-26 {
  height: 100%;
}

.u-section-2 .u-icon-27 {
  height: 100%;
}

.u-section-2 .u-icon-28 {
  height: 100%;
}

.u-section-2 .u-list-item-8 {
  background-image: none;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2 .u-image-8 {
  width: 240px;
  height: 240px;
  background-image: url("images/3.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-24 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-text-25 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-2 .u-text-26 {
  font-style: italic;
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-2 .u-social-icons-8 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-2 .u-icon-29 {
  height: 100%;
}

.u-section-2 .u-icon-30 {
  height: 100%;
}

.u-section-2 .u-icon-31 {
  height: 100%;
}

.u-section-2 .u-icon-32 {
  height: 100%;
}

.u-section-2 .u-list-item-9 {
  background-image: none;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px;
}

.u-section-2 .u-image-9 {
  width: 240px;
  height: 240px;
  background-image: url("images/3.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-27 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-text-28 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-2 .u-text-29 {
  font-style: italic;
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-2 .u-social-icons-9 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-2 .u-icon-33 {
  height: 100%;
}

.u-section-2 .u-icon-34 {
  height: 100%;
}

.u-section-2 .u-icon-35 {
  height: 100%;
}

.u-section-2 .u-icon-36 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 387px;
    margin-right: 387px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 206px;
    margin-right: 206px;
  }

  .u-section-2 .u-list-1 {
    min-height: 1384px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1325px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 277px;
    margin-right: 277px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 96px;
    margin-right: 96px;
  }

  .u-section-2 .u-list-1 {
    min-height: 1048px;
    grid-template-columns: calc(50% - 5.25px) calc(50% - 5.25px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 187px;
    margin-right: 187px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-list-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 87px;
    margin-right: 87px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}